USE [db01]
GO
/****** Object:  Table [dbo].[CompanyData]    Script Date: 2024/7/8 下午 03:14:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyData](
	[ReportDate] [nvarchar](7) NOT NULL,
	[DataYearMonth] [nvarchar](5) NOT NULL,
	[CompanyCode] [nvarchar](4) NOT NULL,
	[CompanyName] [nvarchar](20) NOT NULL,
	[Industry] [nvarchar](20) NULL,
	[MonthlyRevenue] [decimal](18, 2) NULL,
	[PreviousMonthlyRevenue] [decimal](18, 2) NULL,
	[LastYearMonthlyRevenue] [decimal](18, 2) NULL,
	[MonthlyComparisonPercentage] [float] NULL,
	[LastYearComparisonPercentage] [float] NULL,
	[CumulativeRevenue] [decimal](18, 2) NULL,
	[LastYearCumulativeRevenue] [decimal](18, 2) NULL,
	[PreviousComparisonPercentage] [float] NULL,
	[Notes] [nvarchar](255) NULL,
 CONSTRAINT [PK_CompanyData] PRIMARY KEY CLUSTERED 
(
	[CompanyCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CompanyData] ([ReportDate], [DataYearMonth], [CompanyCode], [CompanyName], [Industry], [MonthlyRevenue], [PreviousMonthlyRevenue], [LastYearMonthlyRevenue], [MonthlyComparisonPercentage], [LastYearComparisonPercentage], [CumulativeRevenue], [LastYearCumulativeRevenue], [PreviousComparisonPercentage], [Notes]) VALUES (N'', N'', N'', N'', N'', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 0, 0, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 0, N'')
GO
